<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PesquisaCursoController</servlet-name>
        <servlet-class>controller.PesquisaCursoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaCandidatoController</servlet-name>
        <servlet-class>controller.PesquisaCandidatoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaDeclaracoesController</servlet-name>
        <servlet-class>controller.PesquisaDeclaracoesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaEditalController</servlet-name>
        <servlet-class>controller.PesquisaEditalController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaFamiliarController</servlet-name>
        <servlet-class>controller.PesquisaFamiliarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaModalidadeController</servlet-name>
        <servlet-class>controller.PesquisaModalidadeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaQuadroFamiliarController</servlet-name>
        <servlet-class>controller.PesquisaQuadroFamiliarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaQuadroFinanceiroController</servlet-name>
        <servlet-class>controller.PesquisaQuadroFinanceiroController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterCursoController</servlet-name>
        <servlet-class>controller.ManterCursoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaFormularioSocioeconomicoController</servlet-name>
        <servlet-class>controller.PesquisaFormularioSocioeconomicoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterCandidatoController</servlet-name>
        <servlet-class>controller.ManterCandidatoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterDeclaracaoController</servlet-name>
        <servlet-class>controller.ManterDeclaracaoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterEditalController</servlet-name>
        <servlet-class>controller.ManterEditalController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterFamiliarController</servlet-name>
        <servlet-class>controller.ManterFamiliarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterFormularioSocioeconomicoController</servlet-name>
        <servlet-class>.ManterFormularioSocioeconomicoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterModalidadeController</servlet-name>
        <servlet-class>controller.ManterModalidadeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterQuadroFamiliarController</servlet-name>
        <servlet-class>controller.ManterQuadroFamiliarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterQuadroFinanceiroController</servlet-name>
        <servlet-class>controller.ManterQuadroFinanceiroController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaCursoController</servlet-name>
        <url-pattern>/PesquisaCursoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaCandidatoController</servlet-name>
        <url-pattern>/PesquisaCandidatoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaDeclaracoesController</servlet-name>
        <url-pattern>/PesquisaDeclaracoesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaEditalController</servlet-name>
        <url-pattern>/PesquisaEditalController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaFamiliarController</servlet-name>
        <url-pattern>/PesquisaFamiliarController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaModalidadeController</servlet-name>
        <url-pattern>/PesquisaModalidadeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaQuadroFamiliarController</servlet-name>
        <url-pattern>/PesquisaQuadroFamiliarController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaQuadroFinanceiroController</servlet-name>
        <url-pattern>/PesquisaQuadroFinanceiroController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterCursoController</servlet-name>
        <url-pattern>/ManterCursoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaFormularioSocioeconomicoController</servlet-name>
        <url-pattern>/PesquisaFormularioSocioeconomicoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterDeclaracaoController</servlet-name>
        <url-pattern>/ManterDeclaracaoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterEditalController</servlet-name>
        <url-pattern>/ManterEditalController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterFamiliarController</servlet-name>
        <url-pattern>/ManterFamiliarController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterModalidadeController</servlet-name>
        <url-pattern>/ManterModalidadeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterQuadroFamiliarController</servlet-name>
        <url-pattern>/ManterQuadroFamiliarController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterQuadroFinanceiroController</servlet-name>
        <url-pattern>/ManterQuadroFinanceiroController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterCandidatoController</servlet-name>
        <url-pattern>/ManterCandidatoController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
