<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PesquisaCursoController</servlet-name>
        <servlet-class>controller.PesquisaCursoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaCandidatoController</servlet-name>
        <servlet-class>controller.PesquisaCandidatoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaDeclaracoesController</servlet-name>
        <servlet-class>controller.PesquisaDeclaracoesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaEditalController</servlet-name>
        <servlet-class>controller.PesquisaEditalController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaFamiliarController</servlet-name>
        <servlet-class>controller.PesquisaFamiliarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaFormularioSocioeconomico</servlet-name>
        <servlet-class>controller.PesquisaFormularioSocioeconomico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaModalidadeController</servlet-name>
        <servlet-class>controller.PesquisaModalidadeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaQuadroFamiliarController</servlet-name>
        <servlet-class>controller.PesquisaQuadroFamiliarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaQuadroFinanceiroController</servlet-name>
        <servlet-class>controller.PesquisaQuadroFinanceiroController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaCursoController</servlet-name>
        <url-pattern>/PesquisaCursoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaCandidatoController</servlet-name>
        <url-pattern>/PesquisaCandidatoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaDeclaracoesController</servlet-name>
        <url-pattern>/PesquisaDeclaracoesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaEditalController</servlet-name>
        <url-pattern>/PesquisaEditalController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaFamiliarController</servlet-name>
        <url-pattern>/PesquisaFamiliarController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaFormularioSocioeconomico</servlet-name>
        <url-pattern>/PesquisaFormularioSocioeconomico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaModalidadeController</servlet-name>
        <url-pattern>/PesquisaModalidadeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaQuadroFamiliarController</servlet-name>
        <url-pattern>/PesquisaQuadroFamiliarController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaQuadroFinanceiroController</servlet-name>
        <url-pattern>/PesquisaQuadroFinanceiroController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
